.notFound {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  h1 {
    font-weight: 400;
    //margin-bottom: 24px;
  }
  img {
    margin-top: 32px;
  }
}
