@import "../../styles/partials/core/mixins";

.cards-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
  column-gap: 3%;
  row-gap: 65px;
  margin-bottom: 42px;

  @include media-query-tablet {
    column-gap: 2%;
    row-gap: 49px;
  }
  @include media-query-mobile {
    display: flex;
    flex-direction: column;
  }
}
