@import "../../styles/partials/core/mixins";

.card {
  position: relative;
  @include flex-sp(column);
  height: 228px;
  border-radius: 6px;
  background-color: var(--card-bgc);
  padding: 49px 32px 32px;

  @include media-query-mobile {
    width: 100%;
  }

  &-icon {
    @include icon-sm();
  }

  &-content {
    @include flex-sp(column);
    height: 95px;

    a {
      text-decoration: none;
      color: var(--hd-color);

      &:hover {
        color: var(--text-secondary);
      }
    }
  }
}
