@import "../../styles/partials/core/mixins";

  .main-details, 
  .footer {
    width: 100%;
    max-width: 730px;  
  }

.main-details {
  
  .btn-primary {
    @media only screen and (max-width: 576px) {
      width: 100%;
    }  
  } 
  .content-header .btn-primary {
    @media only screen and (max-width: 576px) {
      margin-top: 32px;
    }  
  } 
  
  .heading,
  .content {
    margin-bottom: 32px;
    background-color: var(--card-bgc);
   
  }

  .heading,
  .content,
  .apply-box {
    border-radius: 6px;
  }
  section { margin-bottom: 48px; }   
}

.heading {
  height: 140px;
  @include flex-sp(row);
  align-items: center;
  padding-right: 42px;
  
  @media only screen and (max-width: 576px) {
    position: relative;
    flex-direction: column;
    height: auto;
    padding: 49px 0 32px 0; 
  } 
  
  &-icon {
    height: 140px;
    width: 140px;
    border-bottom-left-radius: 6px;
    border: solid 1px #f2f2f2;
    
    @media only screen and (max-width: 576px) {
      @include icon-sm($white);
    } 
  }
  
  &-body {
    flex: 1;
    padding-left: 40px;
    padding-right: 24px;
    
    @media only screen and (max-width: 576px) {
      text-align: center;
      margin-bottom: 24px;
      padding-left: 0;
    } 
  }
}

.content {  
  padding: 48px 48px 48px 42px;
  
  @media only screen and (max-width: 576px) {
    padding: 40px 24px 32px;
  }
  
  &-header {
    @include flex-sp(row);
    align-items: center;
    margin-bottom: 40px;
    
    > div {
      @include flex-sp(column);
      padding-right: 24px;
      
      p { margin-bottom: 8px; }  
      
      h1 { margin-bottom: 12px; }   
    }
    
    @media only screen and (max-width: 576px) {
      flex-direction: column;
      align-items: left;
      margin-bottom: 32px;
    } 
  }

  &-body {

    p { margin-bottom: 28px }
    
    a {
      color: $primary-color;
      font-weight: 700;
    }

    ul, ol {
      list-style: none;
      margin-left: 36px;
      margin-bottom: 28px 
    }
    
    ul li {
      &::before { 
        content: "\2022";
        font-weight: 700;
      } 
    }
    
    ol {
      counter-reset: li;
      
      li { counter-increment: li; 
      
        &::before {
          content: counter(li); 
        }
      }   
    }
    
    ul,
    ol {
      li { 
        margin-bottom: 8px; 
        
        &::before {
          color: $primary-color; 
          font-weight: 700;
          display: inline-block;
          width: 30px;
          margin-left: -36px;
        }
      }
    }
  }
}

.apply-box {
  padding: 40px 48px 40px 42px;
  margin-bottom: 72px;
  color: $text-white;
  background: url(../../images/desktop/bg-pattern-detail-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  h3, p, a { color: $text-white; }
  
  a {
    
    font-weight: 700;
  }

  @media only screen and (max-width: 780px) {
    margin-bottom: 48px;
  }
  
  @media only screen and (max-width: 576px) {
    margin-bottom: 40px;
    padding: 32px;
    background: url(../../images/mobile/bg-pattern-detail-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
  } 
}

.footer {
  width: 100%;
  @include flex-sp(row); 
  align-items: center;

  h3 {
    margin-bottom: 0;
  }
  
  & > div {
   
    @media only screen and (max-width: 576px) {
      display: none; 
    }
  }   
}

footer, 
.footer {
  height: 96px;
}

footer {
  width: 100%;
  margin-top: -92px;
  background: var(--card-bgc);
}





